@model FileConverter.ViewModels.DocumentFileViewModel

@{
    ViewData["Title"] = "SQL Server to CSV";
}

<h1 class="text-center"><strong>SQL Server to CSV</strong></h1>

<div class="card" id="SQLServerToCSVSubCard">
    <div class="card-body">
        <form method="post" asp-controller="SqlServerToCSV" asp-action="Fetch">
            <div class="form-group">
                <label asp-for="SQLServerConfig.Server"></label>
                <input type="text" class="form-control" placeholder="e.g. dwpro3" asp-for="SQLServerConfig.Server" value="int5_dev">
            </div>
            <div class="form-group">
                <label asp-for="SQLServerConfig.Database"></label>
                <input type="text" class="form-control" placeholder="e.g. UDGAHBAS" asp-for="SQLServerConfig.Database" value="UDGAHBAS">
            </div>
            <div class="form-group">
                <label asp-for="SQLServerConfig.UserId"></label>
                <input type="text" class="form-control" placeholder="e.g. ALECTA\\K88677" asp-for="SQLServerConfig.UserId" value="ALECTA\\K88677">
            </div>
            <div class="form-group">
                <label asp-for="SQLServerConfig.Password"></label>
                <input type="password" class="form-control" placeholder="******" asp-for="SQLServerConfig.Password">
            </div>
            <div class="form-group">
                <input type="submit" value="Connect" class="btn btn-success text-white" />
            </div>

        </form>
    </div>
</div>


<hr class="my-3 bg-white" />
<h4><strong>Preview:</strong></h4>

@if (@Model.SQLServer.NumberOfTables != 0)
{

    <div class="card bg-white text-dark mb-3">
        <div class="card-header">
            <div class="d-flex flex-row">
                <div class="font-weight-bold pr-2">Database name: </div>
                <div class="card-text">@Model.SQLServerConfig.Database.</div>
            </div>
            <div class="d-flex flex-row">
                <div class="font-weight-bold pr-2">Number of tables: </div>
                <div class="card-text">@Model.SQLServer.NumberOfTables</div>
            </div>
            <hr>
            <div class="font-weight-bold">Downloading Options: </div>
            <div class="mb-3 text-muted">Choose how do you want to download; by table or by type:</div>
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active font-weight-normal" id="download-by-type-btn" onclick="disable()">Downlaod by type(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="download-by-table-btn" onclick="enable()">Downlaod by table(s)</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div>
                <form method="post" asp-controller="SqlServerToCSV" asp-action="Download" asp-route-conString="@Model.SQLServerConfig.ConString">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @{
                        var keys = Model.ObjectsTypesNames.Select(x => x.Key).ToList();
                        var values = Model.ObjectsTypesNames.Select(x => x.Value.ToString()).ToList();
                    }
                    <div class="form-group" id="downloading-type-option" style="display:block">
                        <label asp-for="objectId" class="control-label"></label>
                        <select asp-for="objectId" class="form-control" asp-items="@(new SelectList(Model.ObjectsTypesNames,"Value", "Key"))">
                            <option value="">Select a type</option>
                            <option value="">Download all</option>
                        </select>
                        <span asp-validation-for="objectId" class="text-danger"></span>
                    </div>


                    <div class="form-group" id="downloading-table-option" style="display:none">
                        <label asp-for="TableName" class="control-label labels"></label>
                        <select asp-for="TableName" class="form-control" asp-items="@(new SelectList(Model.SQLServer.Tables))">
                            <option value="">Select a table</option>
                            <option value="Download all">Download all</option>
                        </select>
                        <span asp-validation-for="TableName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Download" class="btn btn-success text-white" />
                    </div>

                </form>
            </div>
        </div>
    </div>




    <div class="accordion" id="accordionExample">
        <div class="card">
            @for (int i = 0; i < @Model.AttributesByTable.Count(); i++)
            {
                <div class="card-header" id="heading-@i">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    @Model.AttributesByTable[i].Key
                                    <span class="badge badge-warning ml-3">@Model.AttributesByTable[i].Value.Count() attributes</span>
                                </div>
                                <div><i class="fas fa-chevron-down text-dark"></i></div>
                            </div>
                        </button>
                    </h2>
                </div>
                <div id="collapse-@i" class="collapse" aria-labelledby="heading-@i" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            @for (int j = 0; j < @Model.AttributesByTable[i].Value.Count(); j++)
                            {
                                <li class="list-group-item list-group-item-action text-dark">@Model.AttributesByTable[i].Value[j]</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
}


<script>

</script>

