@model FileConverter.ViewModels.DocumentFileViewModel

@{
    ViewData["Title"] = "XlsxToCSVC";
}


<h1 class="text-center"><strong>Xlsx to CSV</strong></h1>

<div class="card" id="XlsxToCSVCard">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-controller="XlsxToCSV" asp-action="Upload">
            <div class="form-group file-area">
                <label for="files">CSV <span>Please upload files in "xlsx" format</span></label>
                <input type="file" name="files" id="files" required="required" />
                <div class="file-dummy">
                    <div class="success">Great, your files are selected. Keep on.</div>
                    <div class="default">Please select some files</div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload file" class="btn btn-success text-white" />
            </div>
        </form>
    </div>

</div>

<hr class="my-3 bg-white" />
<h4><strong>Preview:</strong></h4>

@if (Model.CSV.NumberOfRows != 0)
{
    <div class="card bg-light text-dark mb-3">
        <div class="card-body">
            <div class="d-flex flex-row">
                <div class="font-weight-bold h5 pr-2">About </div>
                <div class="font-weight-bold h5">@Model.TableName</div>
            </div>
            <hr>
            <div class="d-flex flex-row">
                <div class="font-weight-bold pr-2">Number of rows: </div>
                <div class="card-text">@Model.CSV.NumberOfRows</div>
            </div>
            <div class="d-flex flex-row">
                <div class="font-weight-bold pr-2">Number of headers: </div>
                <div class="card-text">@Model.CSV.NumberOfHeaders.</div>
            </div>
            <div class="d-flex flex-row mt-3">
                <a asp-controller="XlsxToCSV" asp-action="Download" asp-route-filePath="@Model.FilePath" asp-route-fileName="@Model.TableName" role="button" class="btn btn-success">
                    <i class="text-white fa fa-download">´Download</i>
                </a>
            </div>
        </div>
    </div>


    <table class="table table-bordered table-hover table-striped bg-light text-dark">
        @{
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        @foreach (var header in Model.CSV.Headers)
                        {
                            @header
                        }
                    </th>
                </tr>
            </thead>

            var lineCount = 1;
            <tbody>
                @foreach (var value in Model.CSV.Rows)
                {

                    <tr>
                        <th scope="row">@lineCount</th>
                        <td>@value</td>

                    </tr>
                    lineCount += 1;
                }
            </tbody>
        }
    </table>
}

